cfgFile.pyc
cfgFile$py.class
coder.pyc
coder$py.class
dctTransform.pyc
dctTransform$py.class
fileModes.pyc
fileModesSADheuristic.pyc
fileModes$py.class
geraResultados.pyc
resultadosBitRatePSNR.pyc
resultadosBitRatePSNR$py.class
